<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/js/trigger_key13.js"></script>
    <!-- <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"> -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/my_style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    {% block head %}{% endblock %}

</head>

<body>
<div id="url" style="display: none">http://127.0.0.1:5000/</div>
<div class="main-container">

    <div>
        <header class="header-spacer">
            <div class="header-container">
                <div class="logo-bar-wrapper">
                    <div class="logo-bar">
                        <div class="logo">
                            <a href="/">
                                <div class="logo-wrapper">
                                    <img src="/static/logo.png"/>
                                </div>
                            </a>
                        </div>

                        <div class="header-tools">
                            {% if id %}
                               <div class="header-button"><a href="{{ url_for('get_myaccount', id=id) }}">{{ id }}</a></div>
                                <div class="header-button"><a href="{{ url_for('daily_rates') }}">daily rates</a></div>
                                <div class="header-button"><a href="{{  url_for('logout') }}">Logout</a></div>
                            {% else %}
                                <div class="header-button"><a href="{{ url_for('login') }}">Login</a></div>
                                <div class="header-button"><a href="{{ url_for('register') }}">Register</a></div>v>

                            {% endif %}
                            {% block user_logged %}{% endblock %}
                        </div>
                    </div>
                </div>

                <!-- <div class="search-bar-wrapper">

                    <div class="search-bar" action="https://kajaja.herokuapp.com/search" method="POST">
                        <div class="search-keyword">
                            <label class="search-label" for="input-keyword"></label>
                            <input id="input-keyword" type="text" class="input-keyword key13"  placeholder="Rechercher un animal...">
                        </div>
                        <div class="search-category">
                            <label class="category-label" for="select-option"></label>
                            <select id="select-option" class="select-option">
                                <option value="0">Tous les animaux</option>
                                <option value="1">Chien</option>
                                <option value="2">Chats</option>
                                <option value="3">Autres</option>
                            </select>
                        </div>

                        <button class="search-submit" id="layout-search-button" name="r_key13" onclick="submit_research()"><i
                                class="glyphicon glyphicon-search"></i></button>
                    </div>

                </div> -->

            </div>

        </header>
    </div>
    <div>
        {% block content %}{% endblock %}
    </div>



</div>

</body>

</html>


