{% extends "layout_main.html" %} {% block head %}
<script src="/static/js/index.js" type="text/javascript"></script> {% endblock %} {% block content %} {% if error %}
<div class="help-block" id="error">{{ error }}</div>
{% endif %} {% if not rates %}

<p>empty db.</p>

{% else %}

<div class="card-slider-container">

    {% for rate in rates %}
    <div class="empty-card-spacer">
        <div class="card-container-spacer">
            <div class="card-container-wrapper">
                <div class="card-container" onclick= window.location.href="{{ url_for('get_symbol',symbol=rate.symbol) }}">
                    <h4 class="card-title" id="rate_name_{{ loop.index }}">{{ rate.symbol }} </h4>
                    <span class="card-info" id="rate_bid_{{ loop.index }}">Bid : {{ rate['bid'] }} </span>
                    <span class="card-info" id="rate_age_{{ loop.index }}">Ask : {{ rate['ask'] }}</span>
                    <span class="card-info" id="rate_average_{{ loop.index }}">Avg : {{ rate['average'] }}</span>
                    <span class="card-info" id="rate_delta_{{ loop.index }}">Delta : {{ rate['delta'] }}</span>
                    <span class="card-info" id="rate_date_{{ loop.index }}">date created : {{ rate['date_created'] }}</span>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>



{% endif %} {% endblock %}