{% extends "layout_users.html" %}
{% block head %}
    <script src="/static/js/myaccount.js" type="text/javascript"></script>
{% endblock %}

{% block user_logged %}{% endblock %}

{% block content %}
    <div id="error"></div>
    <div class="user-account-main-container">
        <div class="user-account-main-wrapper">
            <div class="user-account-detail-container">
                <div class="user-account-detail-wrapper">
                    <div class="user-account-detail">
                        <h3>Details du Compte</h3>
                        <span>Les informations seront utilisés seulement par Kajaja pour vous contacter</span>
                        <label>Username</label>
                        <input id='username' value="{{ infos[1] }}">
                        <label>Nom</label>
                        <input id="family_name" value="{{ infos[3] }}">
                        <label>Prénom</label>
                        <input id="name" value="{{ infos[2] }}">
                        <label>Adresse</label>
                        <input id="address" value="{{ infos[5] }}">
                        <label>Téléphone</label>
                        <input id="phone" value="{{ infos[4] }}">
                    </div>

                    <div class="user-account-password-verification">
                        <label>Entrez votre mot de passe pour sauver les changements</label>
                        <input id="password" type="password" >
                    </div>

                    <div class="user-account-button-container">
                        <button class="user-account-button" onclick="update_myaccount({{ infos[0] }})">Sauvegarder</button>
                        <span>|</span>
                        <a>Canceler</a>

                    </div>
                </div>
            </div>

            <div class="user-account-summary-container">
                <div class="user-account-summary-wrapper">
                    <h3>Sommaire du compte</h3>
                    <label>Membre Depuis :</label>
                    <span>N/A</span>
                    <label>Username :</label>
                    <span>{{ infos[1] }}</span>
                    <label>Nom :</label>
                    <span>{{ infos[3] }}</span>
                    <label>Prénom :</label>
                    <span>{{ infos[2] }}</span>
                    <label>Email :</label>
                    <span>{{ infos[6] }}</span>
                    <label>Adresse :</label>
                    <span>{{ infos[5] }}</span>
                    <label>Téléphone :</label>
                    <span>{{ infos[4] }}</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
